// 색상 변수 정의 
$off-white: #d0dfff;
$dark-1: #000000;
$dark-2: #09090a;
$dark-3: #101012;
$dark-4: #1f1f22;
$light-1: #ffffff;
$light-2: #efefef;
$light-2-5: #cdcddd;
$light-3: #7878a3;
$light-4: #36363d;

// 폰트 
$font-inter: "Inter", sans-serif;

