@use "../abstracts/variables" as v;

body {
  background-color: v.$dark-2;
  color: v.$light-1;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Noto Sans KR", serif;
}

.container {
  max-width: 1440px; // 1440px 제한
  padding: 0 2rem;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 150px;
  height: 100%;
}
