// 타이포그래피 

.h1-bold {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.h1-semibold {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.h2-bold {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
}

.small-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}
